{%extends 'finance/base.html'%}
{% load staticfiles %}


{%block html_title%}
{{project.name}} - Reimbursements
<div class="btn-group" style="margin-left:370px">
 	<button type="button" class="btn btn-default">Request</button>
 	<button type="button" class="btn btn-default">Pending</button>
 	<button type="button" class="btn btn-default">Approved</button>
 	<button type="button" class="btn btn-default">Disapproved</button>
 	<button type="button" class="btn btn-default">History</button>
</div>
{%endblock%}


{% block scripts %}

{%  if bill_fail %}
	$(document).ready(function() {
		show_split('#add_bill_form');
	});
{% endif %}

window.is_bill = true

{% endblock %}


{% block content %}

<div id="dimmer" onclick="hide_split()"></div>
{% for bill in col.bills.all %}
	<div id="soft_bill_{{bill.id}}" class="split_up_div">
		<img src="{{bill.image.url}}" style="height:400px;"></img>
	</div>
{% endfor %}
{% for bill in reimbs.bills.all %}
	<div id="soft_bill_{{bill.id}}" class="split_up_div">
		<img src="{{bill.image.url}}" style="height:400px;"></img>
	</div>
{% endfor %}
<div id="add_bill_form" class="split_up_div">
	<form name="new_bill_form" enctype="multipart/form-data" class="form-horizontal" id='new_bill_form' action="" method=post>
	{%csrf_token%}
	<input type="hidden" name="form_type" value="add_bill">
		<div id="request_div">
		{{bill_form.as_p}}
		</div>
		<input type="submit" value="Request" class="btn btn-primary">
	</form>
</div>

<div id="request_new" class="content_divs">
	{% if not no_bills %}
	<h4 style="color:#37a6cd">Total : {{col.amount}}</h4>
	{% endif %}
	{% if no_bills %}
		<h4 id="no_bill_notif" style="text-align:center;margin-top:20px;">Add bills to request a reimbursement</h4>
	{% else %}
		<table class="table table-striped table-bordered table-condensed" id="bills_table">
			<tr>
				<th>Shop</th>
				<th>Bill Number</th>
				<th>Amount</th>
				<th>Date</th>
				<th>Soft Copy</th>
			<tr>
			{% for bill in col.bills.all %}
			<tr id="bill_{{bill.id}}">
				<td>{{bill.shop}}</td>
				<td>{{bill.number}}</td>
				<td>{{bill.amount}}</td>
				<td>{{bill.date}}</td>
				<td><a href="#" onclick="show_split('#soft_bill_{{bill.id}}')"><span class="btn btn-sm btn-info">View</span></a></td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
	<h5 style="margin:0px;margin-bottom:10px;text-align:center"><a href="#add_bill" onclick="show_split('#add_bill_form')">+Add Bills</a></h5>
	{% if not no_bills %}
	<h3 style="text-align:center"><a href="{% url 'finance:project_reimbursement_save' project.id col.id %}"><button class="btn btn-primary">Save & Send</button></a></h3>
	{% endif %}
</div>

<div id="pending_div" class="content_divs">	
	<table class="table table-striped table-bordered table-condensed" id="pending_table">
		<tr>
			<th>Applied Date</th>
			<th>Amount</th>
			<th>Bills</th>
		</tr>
		{% for r in reimbs %}
			{% if r.is_app_core == "pending" and r.is_app_mentor != "disapproved" %}
			<tr id="pending_{{r.id}}">
				<td>{{r.applied_date}}</td>
				<td>{{r.amount}}</td>
				<td><a href="{% url 'finance:project_bill' project.id 'reimbursement' r.id %}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
</div>

<div id="disapproved_div" class="content_divs">
	<table class="table table-striped table-bordered table-condensed" id="approved_table">
		<tr>
			<th>Applied Date</th>
			<th>Amount</th>
			<th>Comments</th>
			<th>Bills</th>
		</tr>
		{% for r in reimbs %}
			{% if r.is_app_mentor == "disapproved" or r.is_app_core == "disapproved" %}
			<tr id="disapproved_{{r.id}}">
				<td>{{r.applied_date}}</td>
				<td>{{r.amount}}</td>
				<td>{{r.comments}}</td>
				<td><a href="{% url 'finance:project_bill' project.id 'reimbursement' r.id %}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
</div>

<div id="approved_div" class="content_divs">
	<table class="table table-striped table-bordered table-condensed" id="approved_table">
		<tr>
			<th>Applied Date</th>
			<th>Amount</th>
			<th>Approved Date</th>
			<th>Received</th>
			<th>Comments</th>
			<th>Bills</th>
		</tr>
		{% for r in reimbs %}
			{% if r.is_app_core == "approved" %}
			<tr id="approved_{{r.id}}">
				<td>{{r.applied_date}}</td>
				<td>{{r.amount}}</td>
				<td>{{r.approved_date}}</td>
				<td>{{r.received}}</td>
				<td>{{r.comments}}</td>
				<td><a href="{% url 'finance:project_bill' project.id 'reimbursement' r.id %}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
</div>

<div id="history_div" class="content_divs">
	<table class="table table-striped table-bordered table-condensed" id="history_table">
		<tr>
			<th>Applied Date</th>
			<th>Amount</th>
			<th>Status</th>
			<th>Approved Date</th>
			<th>Received</th>
			<th>Comments</th>
			<th>Bills</th>
		</tr>
		{% for r in reimbs %}
		<tr id="history_{{r.id}}">
			<td>{{r.applied_date}}</td>
			<td>{{r.amount}}</td>
			<td>
				{% if r.is_app_core == "disapproved" or r.is_app_mentor == "disapproved" %}
					<span class="label label-danger">Disapproved</span>
				{% elif r.is_app_core == "approved" %}
					<span class="label label-success">Approved</span>
				{% else %}
					<span class="label label-info">Pending</span>
				{% endif %}
			</td>
			<td>{{r.approved_date}}</td>
			<td>{{r.received}}</td>
			<td>{{r.comments}}</td>
			<td><a href="{% url 'finance:project_bill' project.id 'reimbursement' r.id %}"><span class="glyphicon glyphicon-list-alt"></span></a></td>
		</tr>
		{% endfor %}
	</table>
</div>

<div id="mentor_approval" class="content_divs">
	<form action="." method=post id="mentor_formset">
	<input type="hidden" name="form_type" value="mentor">
	{% csrf_token %}
	{{formset_data}}
		<table class="table table-striped table-bordered table-condensed" enctype="multipart/form-data" class="form-horizontal" id="mentor_approval_table">
			<tr>
				<th>Applied Date</th>
				<th>Amount</th>
				<th>Status</th>
				<th>Comment</th>
				<th>Bills</th>
			</tr>
			{% for a in new_req_forms %}
			<tr>
				<td>{{a.0.applied_date}}</td>
				<td><a href="#advance_{{a.0.id}}" onclick="show_split('#adv_split_{{a.0.id}}')">{{a.0.amount}}</a></td>
				<td>{{a.1.is_app_mentor}}</td>
				<td>{{a.1.comments}}</td>
				<td><a href="{% url 'finance:project_bill' project.id 'reimbursement' a.0.id %}" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
				{{a.1.id}}{{a.1.project}}			
			</tr>			
			{% endfor %}
		</table>
		<div id="hidden_form" style="display:none">{{extra_form}}</div>
		<h3 style="text-align:center"><input type="submit" value="Save" class="btn btn-primary"></h3>
	</form>
</div>

{% endblock %}