{%extends 'finance/base.html'%}
{% load staticfiles %}


{%block html_title%}
{{project.name}} - Reimbursements
<div class="btn-group" style="margin-left:300px">
	{% if is_mentor %}
	<button type="button" class="btn btn-default" onclick="content_splitter('#mentor_approval')">New Requests</button>
	{% endif %}
 	<button type="button" class="btn btn-default" onclick="content_splitter('#request_form')">Request</button>
 	<button type="button" class="btn btn-default" onclick="content_splitter('#pending_div')">Pending</button>
 	<button type="button" class="btn btn-default" onclick="content_splitter('#approved_div')">Approved</button>
 	<button type="button" class="btn btn-default" onclick="content_splitter('#disapproved_div')">Disapproved</button>
 	<button type="button" class="btn btn-default" onclick="content_splitter('#history_div')">History</button>
</div>
{%endblock%}


{% block scripts %}

{%  if bill_fail %}
	$(document).ready(function() {
		show_split('#add_bill_form');
	});
{% endif %}
{%  if post %}
	location.reload();
{% endif %}

{% endblock %}


{% block content %}

<div id="dimmer" onclick="hide_split()"></div>
{% for bill in col.bills.all %}
	<div id="soft_bill_{{bill.id}}" class="split_up_div">
		<img src="{{bill.image.url}}" style="height:400px;"></img>
	</div>
{% endfor %}
{% for a in reimbs %}
{% if a.is_received %}
<div id="reimb_rec_{{a.id}}" class="split_up_div">
	<h4 style="text-align:center;color:#37a6cd">Total : {{a.received}}</h4>
	<div>{{a.ins_as_table|safe}}</div>
</div>
{% endif %}
{% endfor %}
<div id="add_bill_form" class="split_up_div">
	<form name="new_bill_form" enctype="multipart/form-data" class="form-horizontal" id='new_bill_form' action="." method=post>
	{%csrf_token%}
	<input type="hidden" name="form_type" value="add_bill">
		<div id="request_div">
		{{bill_form.as_p}}
		</div>
		<input type="submit" value="Save" class="btn btn-primary">
	</form>
</div>

{% if is_mentor %}
<div id="request_form" class="content_divs">
{% else %}
<div id="request_form" class="content_divs first_con_div">
{% endif %}
<h4 style="text-align:center;color:#37a6cd;margin:10px">Request Reimbursement</h4>
	{% if not no_bills %}
	<h4 style="color:#37a6cd">Total : {{col.amount}}</h4>
	{% endif %}
	{% if not no_bills %}
	<div>
		<table class="table table-striped table-bordered table-condensed data_tables" id="bills_table">
			<tr>
				<th>Shop</th>
				<th>Bill Number</th>
				<th>Amount</th>
				<th>Date</th>
				<th>Soft Copy</th>
				<th>Delete</th>
			<tr>
			{% for bill in col.bills.all %}
			<tr id="bill_{{bill.id}}">
				<td>{{bill.shop}}</td>
				<td>{{bill.number}}</td>
				<td>{{bill.amount}}</td>
				<td>{{bill.date}}</td>
				<td><a href="#" onclick="show_split('#soft_bill_{{bill.id}}')"><span class="btn btn-sm btn-info">View</span></a></td>
				<td><a onclick="delete_bill('{% url 'finance:delete_bill' 'bill' bill.id %}')"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
	<h5 style="margin:0px;margin-bottom:10px;text-align:center"><a href="#add_bill" onclick="show_split('#add_bill_form')">+Add Bills</a></h5>
	{% if not no_bills %}
	<h3 style="text-align:center"><a href="{% url 'finance:project_reimbursement_save' project.id col.id %}"><button class="btn btn-primary">Save & Send</button></a><button class="btn btn-danger" onclick="delete_bill('{% url 'finance:delete_bill' 'col' col.id %}')">Delete</button></h3>
	{% endif %}
</div>

<div id="pending_div" class="content_divs">	
	<h4 style="text-align:center;color:#37a6cd;margin:10px">Pending Approval</h4>
	<div>
	<table class="table table-striped table-bordered table-condensed data_tables" id="pending_table">
		<tr>
			<th>Applied Date</th>
			<th>Amount</th>
			<th>Bills</th>
		</tr>
		{% for r in reimbs %}
			{% if r.is_app_core == "pending" and r.is_app_mentor != "disapproved" %}
			<tr id="pending_{{r.id}}">
				<td>{{r.applied_date}}</td>
				<td>{{r.amount}}</td>
				<td><a href="{% url 'finance:project_bill' project.id 'reimbursement' r.id %}" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
	</div>
</div>

<div id="disapproved_div" class="content_divs">
	<h4 style="text-align:center;color:#37a6cd;margin:10px">Disapproved Reimbursements</h4>
	<div>
	<table class="table table-striped table-bordered table-condensed data_tables" id="approved_table">
		<tr>
			<th>Applied Date</th>
			<th>Amount</th>
			<th>Comments</th>
			<th>Bills</th>
		</tr>
		{% for r in reimbs %}
			{% if r.is_app_mentor == "disapproved" or r.is_app_core == "disapproved" %}
			<tr id="disapproved_{{r.id}}">
				<td>{{r.applied_date}}</td>
				<td>{{r.amount}}</td>
				<td>{{r.comments}}</td>
				<td><a href="{% url 'finance:project_bill' project.id 'reimbursement' r.id %}" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
	</div>
</div>

<div id="approved_div" class="content_divs">
	<h4 style="text-align:center;color:#37a6cd;margin:10px">Approved Reimbursements</h4>
	<div>
	<table class="table table-striped table-bordered table-condensed data_tables" id="approved_table">
		<tr>
			<th>Applied Date</th>
			<th>Amount</th>
			<th>Approved Date</th>
			<th>Received</th>
			<th>Comments</th>
			<th>Bills</th>
		</tr>
		{% for r in reimbs %}
			{% if r.is_app_core == "approved" %}
			<tr id="approved_{{r.id}}">
				<td>{{r.applied_date}}</td>
				<td>{{r.amount}}</td>
				<td>{{r.approved_date}}</td>
				{% if r.is_received %}
				<td><a href="#history_{{r.id}}" onclick="show_split('#reimb_rec_{{r.id}}')">{{r.received}}</a></td>
				{% else %}
				<td>{{r.received}}</td>
				{% endif %}
				<td>{{r.comments}}</td>
				<td><a href="{% url 'finance:project_bill' project.id 'reimbursement' r.id %}" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
	</div>
</div>

<div id="history_div" class="content_divs">
	<h4 style="text-align:center;color:#37a6cd;margin:10px">History</h4>
	<div>
	<table class="table table-striped table-bordered table-condensed data_tables" id="history_table">
		<tr>
			<th>Applied Date</th>
			<th>Amount</th>
			<th>Status</th>
			<th>Approved Date</th>
			<th>Received</th>
			<th>Comments</th>
			<th>Bills</th>
		</tr>
		{% for r in reimbs %}
		<tr id="history_{{r.id}}">
			<td>{{r.applied_date}}</td>
			<td>{{r.amount}}</td>
			<td>
				{% if r.is_app_core == "disapproved" or r.is_app_mentor == "disapproved" %}
					<span class="label label-danger">Disapproved</span>
				{% elif r.is_app_core == "approved" %}
					<span class="label label-success">Approved</span>
				{% else %}
					<span class="label label-info">Pending</span>
				{% endif %}
			</td>
			<td>{{r.approved_date}}</td>
			{% if r.is_received %}
			<td><a href="#history_{{r.id}}" onclick="show_split('#reimb_rec_{{r.id}}')">{{r.received}}</a></td>
			{% else %}
			<td>{{r.received}}</td>
			{% endif %}
			<td>{{r.comments}}</td>
			<td><a href="{% url 'finance:project_bill' project.id 'reimbursement' r.id %}" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
		</tr>
		{% endfor %}
	</table>
	</div>
</div>

<div id="mentor_approval" class="content_divs first_con_div">
	<h4 style="text-align:center;color:#37a6cd;margin:10px">New Requests</h4>
	<form action="." method=post id="mentor_formset">
	<input type="hidden" name="form_type" value="mentor">
	{% csrf_token %}
	{{formset_data}}
		<table class="table table-striped table-bordered table-condensed data_tables" enctype="multipart/form-data" class="form-horizontal" id="mentor_approval_table">
			<tr>
				<th>Applied Date</th>
				<th>Amount</th>
				<th>Status</th>
				<th>Comment</th>
				<th>Bills</th>
			</tr>
			{% for a in new_req_forms %}
			<tr>
				<td>{{a.0.applied_date}}</td>
				<td><a href="#advance_{{a.0.id}}" onclick="show_split('#adv_split_{{a.0.id}}')">{{a.0.amount}}</a></td>
				<td>{{a.1.is_app_mentor}}</td>
				<td>{{a.1.comments}}</td>
				<td><a href="{% url 'finance:project_bill' project.id 'reimbursement' a.0.id %}" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
				{{a.1.id}}{{a.1.project}}			
			</tr>			
			{% endfor %}
		</table>
		<div id="hidden_form" style="display:none">{{extra_form}}</div>
		<h3 style="text-align:center"><input type="submit" value="Save" class="btn btn-primary"></h3>
	</form>
</div>

{% endblock %}