{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class=""  lang="en-US">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class=""  lang="en-US">
<!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Login | CFI Projects Management Portal</title>
        
        <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/glyphicons.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/custom.css'%}">
        <script src="{%static 'javascript/jquery-1.11.0.min.js'%}"></script>
        <script src="{%static 'javascript/jquery.slimscroll.min.js'%}"></script>
        <script src="{%static 'javascript/jquery.cmtextconstrain.js'%}"></script>
        <script src="{%static 'javascript/custom.js'%}"></script>
		<!--<script src="{%static 'javascript/bootstrap.js'%}"></script> -->
        <script src="{%static 'javascript/bootstrap.min.js'%}"></script>
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	
	
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div class="navbar navbar-fixed-top">  
				  <div class="navbar-inner">  
						<div class="container"> 
							<ul class="nav">
							  <li class="active">
								<a class="brand oswald-bold" href="/">CFI Projects Management Portal</a>
							  </li>	
							  <li>
								<a href="#">About</a>
							  </li>
							  <li>
								<a href="#">Help</a>
							  </li>
							  <li>
								<a href="#">Contacts</a>
							  </li>
							</ul>
                            
						</div>
					</div>
				</div>
			</div>
<!--
				<div id="navbar">
					Navbar<br>
					Please login					<br>Navbar ends<br><br>
				</div>
-->
	<div id="bgDiv"></div>
	<div id="content" style="margin-left:0px;background:none;"><br><br><br>
				<div id="loginDiv">
			{% block content %}
			{% endblock %}
			
		</div>
				
			</div>
			<div id="footer" style="height:50px;" >
				<div style="font-size:14px; color:#fff; padding: 4px 10px; font-family:Oswald; font-weight:300; text-align:center;" >
					Project allocations have been declared, please login to check.<br>
					For any login problems please contact - 1) Vineet ( 9445505731 )  2) Dharani ( 9043814168 ) or write a mail to <a style="color:#fff;" href="mailto:cfi.iitmadras@gmail.com">cfi.iitmadras@gmail.com</a>
				</div>
			</div>
		</div> <!-- container -->
	</body>
</html>

<style>

