{%extends 'base.html'%}
{%load profile%}
<!-- Supposedly complete. TODO: change layout to a card structure -->

<!-- Context Requiurements -->
<!-- 
	Project details as project
	ProjectEditView(POST only)
	User Details(contrib.auth context processor) as user
	task list as task_list
	update list as update_list
	documents list as documents
-->
{%block html_title%}{{project.name}}{%endblock%}
{%block title%}{{project.name}}{%endblock%}
{%block content%}
<div class="read-tab-content" style="display: block;">
	<table>
		<tbody><tr>
			<td>UID 1</td>
			<td><strong>{{project.name}}</strong></td>
		</tr>
		<tr>
		<td colspan="2">
				<div class="brief-writeup"><p class="text" id="1395992530932_clone">{{project.brief}}</p></div>
			</td>
		</tr>
		<tr>
		<td colspan="2">
			<div class="detail-writeup-left"><p class="text" id="1395992530922_clone">{{project.desc}}<a href="javascript:void(0);" class="cmConstrain " title="Show Less">[ Less ]</a></p></div>
			<div class="detail-writeup-right">
				<center>
					<img src="{{project.image.url}}">
				</center>
			</div>
		</td>
		</tr>
		<tr>
			<td><strong>Status: </strong>  &nbsp;&nbsp;{{project.status}}</td>
			<td><strong>Tags: </strong>
			

			</td>
		</tr>
		<!--<tr> Removed as per reviewed design structure.
			<td><strong>Overall Budget: </strong>950000</td>
			<td><strong>Utilized Budget: </strong>55000</td>
		</tr>-->
	</tbody></table>
	{%if allow_project_edit%}
	<div class="btn btn-primary edit-activity-btn"><div></div>Edit</div>
	{%endif%}
</div>
{%if allow_project_edit%}
<div class="editAcivityFormDiv" style="display: none;">

	<form name="update_activity" class="form-horizontal" action="edit/" method="POST" enctype="multipart/form-data">
	<input type="hidden" class="input-xlarge" name="id" value="1">
	<table>
		<tbody><tr>
			<td>UID 1</td>
			<td><input type="text" class="input-xlarge" name="title" value="{{project.name}}"></td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="brief-writeup"><textarea class="input-xlarge" id="textarea" rows="2" name="brief_writeup">{{project.brief}} </textarea></div>
			</td>
		</tr>
		<tr>
		<td colspan="2">
			<div class="detail-writeup-left"><textarea class="input-xlarge" id="textarea" rows="6" name="detailed_writeup">{{project.desc}}</textarea></div>
			<div class="detail-writeup-right">
				<center>
					<img src="{{project.image.url}}">
				</center>
			</div>
		</td>
		</tr>
		<tr>
			<td><strong>Status: </strong><input type="text" class="input-xlarge" name="status" value="
			
			" id="input02"></td>
			<td><strong>Tags: </strong><input type="text" class="input-xlarge" name="tags" value="
			
			" id="input01"></td>
		</tr>
		<!-- Removed on demand -->
		<!--<tr>
			<td><strong>Overall Budget: </strong><input type="text" class="input-xlarge" name="overall_budget" value="950000"></td>
			<td><strong>Utilized Budget: </strong><input type="text" class="input-xlarge" name="utilized_budget" value="55000"></td>
		</tr>-->
		<tr>
			<td><strong>Icon: </strong><input type="file" name="icon" id="exampleInputFile" value="{{project.status}}"></td>
			<td><strong>BG Image: </strong><input type="file" name="bgImg" id="exampleInputFile"></td>
		</tr>
	</tbody></table>
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="button" class="btn btn-primary close-edit-activity-btn">Back</button>
	{%csrf_token%}
	</form>
</div>
{%endif%}

<div class="documentsDiv">	
	<!-- Documents Secction -->
	<div class="divHeading1">Documents</div>
<table class="document-list">
	<tbody><tr>
		<td><strong>S No.</strong></td>
		<td><strong>Document Name</strong></td>
		<td><strong>Uploaded By</strong></td>
		<td><strong>Uploaded On</strong></td>
		<td><strong>Tags</strong></td>
		<td></td>
	</tr>
	
	{%for doc in documents%}
	<tr>
		<td>{{doc.index}}</td>
		<td><a target="_blank" href="{{doc.doc.url}}">{{doc.doc.name}}</a></td>
		<td>{{doc.user.username}}</td>
		<td>{{doc.timestamp}}</td>
		<td class="file-tag" id="1395992530936" style="display: table-cell;">{{doc.desc}}</td>
		<td><button class="delete-doc-link" onclick="Dajaxice.project.delete_document(Dajax.process, { 'doc':{{doc.pk}}, 'project':{{ project.pk }} } )">Delete</button></td>
	</tr>
	{%endfor%}
</tbody></table>

<div class="divHeading2">Upload a new document</div>
<form name="addDocument" action="{%url 'project:project_upload' project.pk%}" enctype="multipart/form-data" method="POST">
	<table>
		<tbody><tr>
			<td><strong>File:</strong> <input type="file" name="doc"></td>
			<td style="max-width:200px;"><strong>Description:	</strong> <input type="text" name="desc" placeholder="Enter File Tags"></td>
			{%csrf_token%}
			<td><input type="hidden" name="activityId" value="1"><input type="submit" value="Upload"></td>
		</tr>
	</tbody></table>
</form>
<div class='row'>
	<div class="col-md-4 col-md-offset-1">
		<h6 class='divHeading1' style="text-align:center">Updates</h6>
		{%for update in update_list%}
			{% profile update.user as profiledata %}
			<div class='row' style='margin-top:25px;background-color:#ececec'>
				<div class="col-md-12" style='background-color:#ececec'>
					<div class="col-md-2">
						<img src="{{profiledata.pic.url}}" height="100%">
					</div>
					<div class="col-md-8">
						<h5>{{update.user.username}}</h5>
						<p>{%if update.content.length > 30%} {{update.content|slice:30}} {%else%} {{update.content}} {%endif%}</p>
					</div>
					<div class='col-md-2 pull-right' style='text-align:right'>
						<a class='btn btn-sm btn-danger' onclick="Dajaxice.project.delete_update(Dajax.process,{'update':{{update.pk}} })">Delete</a>
					</div>
				</div>
			</div>
		{%for comment in update.comments.all%}
		<div class="col-md-10 col-md-offset-2">
			{% profile comment.user as profiledata %}
			<div class="col-md-12">
				<div class="col-md-2">
					<img src="{{profiledata.pic.url}}" height="100%">
				</div>
			
				<div class="col-md-10">
					<h5>{{comment.user.username}}</h5>
					<p>{%if comment.content.length > 30%} {{comment.content|slice:30}} {%else%} {{comment.content}} {%endif%}</p>
				</div>
			</div>
		</div>
		{%endfor%}
		<input type='text' name='comment_content' id='id_update_comment_{{update.pk}}'></input>
		<button class='btn btn-primary' onclick="Dajaxice.project.comment_on_update(Dajax.process,{'update':{{update.pk}} , 'content': $('#id_update_comment_{{update.pk}}').val()})">Post Comment</button>
	{%endfor%}
	{%if no_updates%}
		<div class='text-success'> You have no Updates </div>
	{%endif%}
	{%if allow_update%}
	<form method="POST" action='#' id='update_form'>
	<div><p id='title_error'></p><input type='text' name='title' style="width:100%" placeholder="Enter Title"></input></div>
	<div><p id='content_error'></p><textarea type='text' name='content' rows='4' style="width:100%" placeholder="Enter Content"></textarea></div><br>
	<input type=hidden name='title_feedback_field' value='title_error'></input>
	<input type=hidden name='content_feedback_field' value='content_error'></input>
	<input type=hidden name='project' value='{{project.pk}}'>
	{%csrf_token%}
	</form>
	<div><button class="btn btn-primary" onclick='Dajaxice.project.add_update(Dajax.process, $("#update_form").serializeObject());'>Post Update</button></div>
	<!--<button class='btn btn-primary' onclick='alert( JSON.stringify($("#update_form").serializeObject()) )'></button>-->
	{%endif%}
</div>
<div class="col-md-4 col-md-offset-2">
	<h6 class='divHeading1' style="text-align:center">Tasks</h6>
	{%for task in task_list%}
		<div class="col-md-12" style='margin-top:15px'>
			<div class='row'>
				<div class="col-md-5"><h5>{{task.title}}</h5></div>
				<div class="col-md-5"><h5>by {{task.user.username}}</h5></div>
				<div class='col-md-2' style='text-align:right'><div><a class='btn btn-sm btn-danger' onclick="Dajaxice.project.delete_task(Dajax.process,{'task':{{task.pk}} })">Delete</a></div></div>
			</div>
			<div class='row'>
				<div class="col-md-12" style='text-align:left'><p>{{task.content}}</p></div>
				<div class="col-md-12">Assigned to :<ul>{%for assignee in task.assigned.all %}<li>{{assignee.username}}</li>{%endfor%}</ul></div>
				<div class="col-md-12">due by {{task.deadline}}</div>
				<div class="col-md-12" style="height:1px;background-color:#CCC"></div> 
			</div>
		</div>
		{%for comment in task.comments.all%}
		<div class="col-md-10 col-md-offset-2">
			{%  profile comment.user as profiledata %}
			<div class="col-md-12">
				<div class="col-md-2">
					<img src="{{profiledata.pic.url}}" height="100%">
				</div>
			
				<div class="col-md-10">
					<h5>{{comment.user.username}}</h5>
					<p>{%if comment.content.length > 30%} {{comment.content|slice:30}} {%else%} {{comment.content}} {%endif%}</p>
				</div>
			</div>
		</div>
		{%endfor%}
			<input type='text' name='comment_content2' id='id_task_comment_{{task.pk}}'></input>
			<button class='btn btn-primary' onclick="Dajaxice.project.comment_on_update(Dajax.process,{'update':{{task.pk}} , 'content': $('#id_task_comment_{{task.pk}}').val()})">Post Comment</button>
		{%endfor%}

		{%if no_tasks%}
			<div class='text-success'> You have no Tasks </div>
		{%endif%}

		<div>
		{%if allow_task%}
		<form method="POST" id='task_form' action="{% url 'project:task_create' project.pk %}">
			<div><p id='t_title_error'></p><input type='text' name='title' style="width:100%" placeholder="Enter Title"></input></div>
			<div><p id='t_content_error'></p><textarea type='text' name='content' rows='4' style="width:100%" placeholder="Enter Content"></textarea></div><br>
			<div><p id='t_deadline_error'></p><input type='date' name='deadline' style="width:100%" ></input></div><br>
			<div><p id='t_assigned_error'></p><select name='assigned' style="width:100%" multiple>{%for u in project.users.all%}<option value='{{u.pk}}'>{{u.username}}</option>{%endfor%}</select></div><br>
			<input type=hidden name='title_feedback_field' value='t_title_error'>
			<input type=hidden name='content_feedback_field' value='t_content_error'>
			<input type=hidden name='deadline_feedback_field' value='t_deadline_error'>
			<input type=hidden name='assigned_feedback_field' value='t_assigned_error'>
			<input type=hidden name='project' value='{{project.pk}}'>
			{%csrf_token%}
			
		</form>
		<div><button class="btn btn-primary" onclick='Dajaxice.project.add_task(Dajax.process, $("#task_form").serializeObject());'>Post Task</button></div>
		</div>
		{%endif%}
	</div>

</div>

<div class='row'>
	<div class='col-md-4 col-md-offset-1'>
		<h6 class='divHeading1' style='text-align:center'>Users</h6>
		{%for userdata in project.users.all%}
			{%include 'user/user_tile.html'%}
		{%endfor%}
		{%if allow_add_user%}
		<div><h5>Add Users:</h5></div>
			<select name='user_list' id='ulist' multiple>
				{%for u in all_users%}
					<option value="{{u.pk}}">{{u.username}} {{u.first_name}} {{u.last_name}}</option>
				{%endfor%}
			</select>
			<button class='btn btn-primary' onclick='Dajaxice.project.add_user_to_project(Dajax.process, {"project":{{project.pk}},"users":$("#ulist").val()})'>Add</button>
		{%endif%}
	</div>
	<div class='col-md-4 col-md-offset-2'>
		<h6 class='divHeading1' style='text-align:center'>Mentors</h6>

		{%for userdata in project.mentors.all%}
			{%include 'user/user_tile.html'%}
		{%endfor%}

		{%if allow_add_mentor%}
		<div><h5>Add Mentors:</h5></div>
			<select name='mentor_list' id='mlist' multiple>
				{%for u in all_users%}
					<option value="{{u.pk}}">{{u.username}} {{u.first_name}} {{u.last_name}}</option>
				{%endfor%}
			</select>
			<button class='btn btn-primary' onclick='Dajaxice.project.add_mentor_to_project(Dajax.process, {"project":{{project.pk}},"mentors":$("#mlist").val()})'>Add</button>
		{%endif%}
	</div>
</div>

</div>

<script>
	$('.editAcivityFormDiv').fadeOut(0);
	$('.detail-writeup-left>.text').cmtextconstrain({
		event: 'click', 
		onExpose: function(){}, 
		onConstrain: function(){}, 
		restrict: {type: 'words', limit: 60}, 
		showControl: {string: '[ More ]', title: 'Show More', addclass: ''}, 
		hideControl: {string: '[ Less ]', title: 'Show Less', addclass: ''}, 
		trailingString: '....'
    });
	$('.brief-writeup>.text').cmtextconstrain({
		event: 'click', 
		onExpose: function(){}, 
		onConstrain: function(){}, 
		restrict: {type: 'words', limit: 30}, 
		showControl: {string: '[ More ]', title: 'Show More', addclass: ''}, 
		hideControl: {string: '[ Less ]', title: 'Show Less', addclass: ''}, 
		trailingString: '....'
    });
	$('.documentsDiv table .file-tag').cmtextconstrain({
		event: 'click', 
		onExpose: function(){}, 
		onConstrain: function(){}, 
		restrict: {type: 'words', limit: 4}, 
		showControl: {string: '[ More ]', title: 'Show More', addclass: ''}, 
		hideControl: {string: '[ Less ]', title: 'Show Less', addclass: ''}, 
		trailingString: '....'
    });
	$('.edit-activity-btn').click(function(){
		$('.read-tab-content').fadeOut(0);
		$('.editAcivityFormDiv').fadeIn(100);
	});
	$('.close-edit-activity-btn').click(function(){
		$('.read-tab-content').fadeIn(100);
		$('.editAcivityFormDiv').fadeOut(0);
	});
</script>
{%endblock%}