{%extends 'base.html'%}
<!-- Supposedly complete. TODO: change layout to a card structure -->

<!-- Context Requiurements -->
<!-- 
	Project details as project
	ProjectEditView(POST only)
	User Details(contrib.auth context processor) as user
	task list as task_list
	update list as update_list
	documents list as documents
-->
{%block html_title%}{{project.name}}{%endblock%}
{%block title%}{{project.name}}{%endblock%}
{%block content%}
<div class="read-tab-content" style="display: block;">
	<table>
		<tbody><tr>
			<td>UID 1</td>
			<td><strong>{{project.name}}</strong></td>
		</tr>
		<tr>
		<td colspan="2">
				<div class="brief-writeup"><p class="text" id="1395992530932_clone">{{project.brief}}</p></div>
			</td>
		</tr>
		<tr>
		<td colspan="2">
			<div class="detail-writeup-left"><p class="text" id="1395992530922_clone">{{project.desc}}<a href="javascript:void(0);" class="cmConstrain " title="Show Less">[ Less ]</a></p></div>
			<div class="detail-writeup-right">
				<center>
					<img src="{{project.image.url}}">
				</center>
			</div>
		</td>
		</tr>
		<tr>
			<td><strong>Status: </strong>  &nbsp;&nbsp;{{project.status}}</td>
			<td><strong>Tags: </strong>
			

			</td>
		</tr>
		<!--<tr> Removed as per reviewed design structure.
			<td><strong>Overall Budget: </strong>950000</td>
			<td><strong>Utilized Budget: </strong>55000</td>
		</tr>-->
	</tbody></table>
	{%if allow_project_edit%}
	<div class="btn btn-primary"><div></div>Edit</div>
	{%endif%}
</div>
{%if allow_project_edit%}
<div class="editAcivityFormDiv" style="display: none;">

	<form name="update_activity" class="form-horizontal" action="edit/" method="POST" enctype="multipart/form-data">
	<input type="hidden" class="input-xlarge" name="id" value="1"> 
	<table>
		<tbody><tr>
			<td>UID 1</td>
			<td><input type="text" class="input-xlarge" name="title" value="{{project.name}}"></td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="brief-writeup"><textarea class="input-xlarge" id="textarea" rows="2" name="brief_writeup">{{project.brief}} </textarea></div>
			</td>
		</tr>
		<tr>
		<td colspan="2">
			<div class="detail-writeup-left"><textarea class="input-xlarge" id="textarea" rows="6" name="detailed_writeup">{{project.desc}}</textarea></div>
			<div class="detail-writeup-right">
				<center>
					<img src="{{project.image.url}}">
				</center>
			</div>
		</td>
		</tr>
		<tr>
			<td><strong>Status: </strong><input type="text" class="input-xlarge" name="status" value="
			
			" id="input02"></td>
			<td><strong>Tags: </strong><input type="text" class="input-xlarge" name="tags" value="
			
			" id="input01"></td>
		</tr>
		<!-- Removed on demand -->
		<!--<tr>
			<td><strong>Overall Budget: </strong><input type="text" class="input-xlarge" name="overall_budget" value="950000"></td>
			<td><strong>Utilized Budget: </strong><input type="text" class="input-xlarge" name="utilized_budget" value="55000"></td>
		</tr>-->
		<tr>
			<td><strong>Icon: </strong><input type="file" name="icon" id="exampleInputFile" value="{{project.status}}"></td>
			<td><strong>BG Image: </strong><input type="file" name="bgImg" id="exampleInputFile"></td>
		</tr>
	</tbody></table>
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="button" class="btn btn-primary close-edit-activity-btn">Back</button>
	</form>
</div>
{%endif%}

<div class="documentsDiv">	
	<!-- Documents Secction -->
	<div class="divHeading1">Documents</div>
<table class="document-list">
	<tbody><tr>
		<td><strong>S No.</strong></td>
		<td><strong>Document Name</strong></td>
		<td><strong>Uploaded By</strong></td>
		<td><strong>Uploaded On</strong></td>
		<td><strong>Tags</strong></td>
		<td></td>
	</tr>
	
	{%for doc in documents%}
	<tr>
		<td>{{doc.index}}</td>
		<td><a target="_blank" href="{{doc.doc.url}}">{{doc.doc.name}}</a></td>
		<td>{{doc.user.username}}</td>
		<td>{{doc.timestamp}}</td>
		<td class="file-tag" id="1395992530936" style="display: table-cell;">{{doc.desc}}</td>
		<td><a class="delete-doc-link" href="#">Delete</a></td>
	</tr>
	{%endfor%}

</tbody></table>

<div class="divHeading2">Upload a new document</div>
<form name="addDocument" action="#" enctype="multipart/form-data" method="POST">
	<table>
		<tbody><tr>
			<td><strong>File:</strong> <input type="file" name="docName"></td>
			<td style="max-width:200px;"><strong>Tags:	</strong> <input type="text" name="tags" placeholder="Enter File Tags"></td>
			<td><input type="hidden" name="activityId" value="1"><input type="submit" value="Upload"></td>
		</tr>
	</tbody></table>
</form>

<div class="col-md-4 col-md-offset-1">
	<h6 class='divHeading1' style="text-align:center">Updates</h6>
	{%for update in update_list%}
		<div class="col-md-12">
			<div class="col-md-2">
				<img src="{{update.user.pic.doc.url}}" height="100%">
			</div>
			<div class="col-md-10">
				<h5>{{update.user.username}}</h5>
				<p>{%if update.content.length > 30%} {{update.content|slice:30}} {%else%} {{update.content}} {%endif%}</p>
			</div>
		</div>
	{%endfor%}
	{%if no_updates%}
		<div class='text-success'> You have no Updates </div>
	{%endif%}
	<form method="POST" action="new_update/">
	<div><input type='text' name='title' style="width:100%" placeholder="Enter Title"></input></div>
	<div><textarea type='text' name='content' rows='4' style="width:100%" placeholder="Enter Content"></textarea></div><br>
	<div><button class="btn btn-primary">Post Update</button></div>
	</form>
</div>
<div class="col-md-4 col-md-offset-2">
	<h6 class='divHeading1' style="text-align:center">Tasks</h6>
	{%for task in task_list%}
		<div class="col-md-12">
			
		</div>
	{%endfor%}
</div>

</div>

<script>
	$('.editAcivityFormDiv').fadeOut(0);
	$('.detail-writeup-left>.text').cmtextconstrain({
		event: 'click', 
		onExpose: function(){}, 
		onConstrain: function(){}, 
		restrict: {type: 'words', limit: 60}, 
		showControl: {string: '[ More ]', title: 'Show More', addclass: ''}, 
		hideControl: {string: '[ Less ]', title: 'Show Less', addclass: ''}, 
		trailingString: '....'
    });
	$('.brief-writeup>.text').cmtextconstrain({
		event: 'click', 
		onExpose: function(){}, 
		onConstrain: function(){}, 
		restrict: {type: 'words', limit: 30}, 
		showControl: {string: '[ More ]', title: 'Show More', addclass: ''}, 
		hideControl: {string: '[ Less ]', title: 'Show Less', addclass: ''}, 
		trailingString: '....'
    });
	$('.documentsDiv table .file-tag').cmtextconstrain({
		event: 'click', 
		onExpose: function(){}, 
		onConstrain: function(){}, 
		restrict: {type: 'words', limit: 4}, 
		showControl: {string: '[ More ]', title: 'Show More', addclass: ''}, 
		hideControl: {string: '[ Less ]', title: 'Show Less', addclass: ''}, 
		trailingString: '....'
    });
	$('.edit-activity-btn').click(function(){
		$('.read-tab-content').fadeOut(0);
		$('.editAcivityFormDiv').fadeIn(100);
	});
	$('.close-edit-activity-btn').click(function(){
		$('.read-tab-content').fadeIn(100);
		$('.editAcivityFormDiv').fadeOut(0);
	});
</script>
{%endblock%}