{%extends 'base.html'%}

{% block scripts %}

function check_password() {
	if($('#id_new_password').val() == $('#id_repeat_password').val()) return true;
	else {
		alert("Passwords don't match!");
		return false;
	}
}

{% if auth_fail %}
$(document).ready(function(){
	alert('Incorrect Password!');
});
{% endif %}

{% endblock %}

{%block html_title%}
	Change Password
{%endblock%}

{%block content %}
	<div id="UpdatePasswordDiv">  
		<form name="passwordForm" onsubmit="return check_password()" enctype="multipart/form-data" class="form-horizontal" id='profile-form' action="/account/password/" method=post>
		{%csrf_token%}	
			{{form.as_ul}}
			<input type="submit" value="Save Changes" class="btn btn-primary">
		</form>			
	</div>

{% endblock %}